.grey {
  background: #f0f0f1;
}

.coment {
  margin: 10px;
}

.coments {
  padding: 50px 30px;
}

.coment-text {
  display: inline-block;
  color: #60606e;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 48px;
  margin: 0;
}

.coment-link {
  display: inline-block;
  background-color: #7beec7;
  color: #ffffff;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 25px;
  text-transform: uppercase;
}