.about-second {
  padding: 5% 0;
}

.wrapper {
  background: linear-gradient(180deg, #ffffff 50%, #7beec7 50%);
}

.bold {
  color: #60606e;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.awesome-text {
  color: #60606e;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}