.about-slider {
  padding-top: 5%;
}

.slick-slide img {
margin: 0 auto;
}

.aboutslider__description {
  color: #60606e;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.aboutslider__link {
  display: block;
  background-color: #7beec7;
  width: 20%;
  margin: 0 auto;
  color: #ffffff;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.advert__content {
  display: inline-block;
  width: 29%;
  text-align: center;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 20px;
}

.advert img {
  width: 130px;
  height: 80px;
}