.isotope-masonry {
  margin-top: 10%;
}

.button {
  display: block;
  width: 140px;
  border: none;
  background: inherit;
  color: #60606e;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.is-checked {
  color: #ffffff;
  background: #7beec7;;
}

.isotope-masonry .item {
  display: inline-block;
  margin-bottom: 6px;
  width: 32%;
}

.item img {
  width: 100%;
}

@media screen and (max-width: 650px) {
  .isotope-masonry {
    margin-top: 20px;
  }
}
