@import url("https://fonts.googleapis.com/css?family=Montserrat:700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* a {
  text-decoration: none; }

* a:visited {
  text-decoration: none; }

* a:hover {
  color: #392e37;
  text-decoration: none; }

*:focus {
  outline: none; }

html {
  font-size: 16px; }

.menu-fixed {
  z-index: 9; }

.menu {
  border: none;
  background: inherit; }

.btn {
  color: #84848f;
  background: inherit; }

.fixedbtn {
  margin-right: 15px; }

.dropdown-menu {
  background: #7f91a1;
  opacity: 0.5; }
  .dropdown-menu li {
    background: #7f91a1;
    opacity: 0.8; }

.dropdown-menu > li > a {
  opacity: 1;
  line-height: 26px;
  color: white; }

.bg-mounts {
  position: relative; }

.bg-white {
  position: absolute;
  top: 0;
  padding: 0; }
  .bg-white__cover {
    position: relative;
    width: 100%;
    padding: 0; }

.text-white {
  position: absolute;
  top: 24%;
  text-align: center; }
  .text-white__we {
    display: block;
    width: 15%;
    margin: 0 auto;
    padding: 5px;
    background: #78e3c0;
    color: #60606e;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase; }
  .text-white h1 {
    color: #60606e;
    font-family: Montserrat, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0; }
  .text-white .homepage {
    border: 10px solid #60606e;
    background-color: rgba(96, 96, 110, 0);
    padding: 20px 0; }
  .text-white__text {
    color: #60606e;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 15px 0; }

.photo {
  width: auto;
  height: auto; }

.photo-history {
  position: absolute;
  top: 70%; }

.history {
  margin-top: 40px; }
  .history h2 {
    color: #60606e;
    font-family: Montserrat, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    position: relative;
    z-index: 1; }
  .history__text {
    color: #60606e;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px; }
  .history__more {
    display: block;
    background: #7beec7;
    text-align: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase; }

@media screen and (max-width: 400px) {
  .text-white {
    top: 14%; }

  .text-white > h1 {
    font-size: 16px; } }
.second {
  padding-top: 250px; }

h2 {
  color: #60606e;
  font-family: Montserrat,sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase; }

p {
  color: #60606e;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

.proposes {
  margin-top: 10%; }

h3 {
  margin: 5px 0;
  color: #60606e;
  font-family: Montserrat,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase; }

.choose-photo img {
  max-width: 100%;
  height: auto; }

.proposition {
  display: inline-block;
  width: 49%;
  padding-bottom: 50px; }
  .proposition__list a {
    color: #999999;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase; }
    .proposition__list a:hover {
      color: #392e37; }

@media screen and (max-width: 990px) {
  .second {
    padding-top: 50px; } }
@media screen and (max-width: 605px) {
  .proposes {
    margin-top: 20px; }

  h3 {
    display: none; } }
@media screen and (max-width: 605px) {
  .proposition {
    height: 100px;
    overflow: scroll; } }
.isotope-masonry {
  margin-top: 10%; }

.button {
  display: block;
  width: 140px;
  border: none;
  background: inherit;
  color: #60606e;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase; }

.is-checked {
  color: #ffffff;
  background: #7beec7; }

.isotope-masonry .item {
  display: inline-block;
  margin-bottom: 6px;
  width: 32%; }

.item img {
  width: 100%; }

@media screen and (max-width: 650px) {
  .isotope-masonry {
    margin-top: 20px; } }
.form {
  background: #7beec7;
  padding: 50px 0;
  margin: 150px 0 50px; }

.cool {
  padding: 0; }

.cool__we {
  color: #ffffff;
  font-family: Montserrat,sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 0; }

.cool__link {
  display: block;
  background-color: #ffffff;
  width: 35%;
  padding: 10px 5px;
  color: #7beec7;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }

.mail {
  display: inline-block;
  background-color: #ffffff;
  padding: 0 20px 20px; }

.mail-send {
  width: 100%; }

#exampleInputEmail2 {
  width: 80%;
  border-radius: 0; }

.send {
  width: 20%;
  padding: 7px 12px;
  background-color: #7beec7;
  border: none;
  color: #ffffff;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0; }

@media screen and (max-width: 768px) {
  #exampleInputEmail2 {
    width: 100%; }

  .form {
    margin: 20px 0 10px; } }
.links {
  padding: 0; }
  .links__list {
    display: inline-block; }
  .links__link {
    padding: 0 17px;
    color: #9a9a9a;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase; }

.license {
  color: #9a9a9a;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase; }

.sotials {
  margin-right: 20px; }
  .sotials__list {
    display: inline-block; }
  .sotials__link {
    display: block;
    width: 29px;
    height: 29px;
    padding: 2px;
    text-align: center;
    color: #999999;
    font-size: 18px; }

@media screen and (max-width: 1200px) {
  .links__link {
    padding: 0 7px; } }
.padding-none {
  padding: 0; }

.about-p {
  color: #60606e;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase; }

.about-second {
  padding: 5% 0; }

.wrapper {
  background: linear-gradient(180deg, #ffffff 50%, #7beec7 50%); }

.bold {
  color: #60606e;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }

.awesome-text {
  color: #60606e;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

.glyph-wrapper {
  background: #7beec7;
  color: white;
  padding: 7px;
  margin-right: 10px; }

.benefits {
  margin: 2% 0; }

.item-content {
  display: inline-block;
  margin: 10px;
  width: 22%; }

.item-content img {
  width: 100%; }

.grey {
  background: #f0f0f1; }

.coment {
  margin: 10px; }

.coments {
  padding: 50px 30px; }

.coment-text {
  display: inline-block;
  color: #60606e;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  font-style: italic;
  line-height: 48px;
  margin: 0; }

.coment-link {
  display: inline-block;
  background-color: #7beec7;
  color: #ffffff;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 25px;
  text-transform: uppercase; }

.about-slider {
  padding-top: 5%; }

.slick-slide img {
  margin: 0 auto; }

.aboutslider__description {
  color: #60606e;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

.aboutslider__link {
  display: block;
  background-color: #7beec7;
  width: 20%;
  margin: 0 auto;
  color: #ffffff;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase; }

.advert__content {
  display: inline-block;
  width: 29%;
  text-align: center;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin: 10px;
  padding: 20px; }

.advert img {
  width: 130px;
  height: 80px; }

.map {
  padding: 5% 0 0 0; }

.contact-form {
  padding: 0 30px; }

.input-form input,
.textarea {
  background: #fefcf9;
  margin-top: 15px; }

input.name,
#exampleInputEmail3 {
  width: 48%;
  display: inline-block; }

#exampleInputEmail3 {
  margin-left: 15px; }

.contact-send {
  background: #7beec7;
  color: #ffffff;
  font-family: Montserrat,sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 20px;
  text-transform: uppercase;
  border-radius: 0;
  margin-top: 15px; }

.map__contact {
  color: #60606e;
  font-family: Montserrat,sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase; }

.map__text {
  color: #999999;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

.external {
  width: 50%; }

.external a {
  display: block;
  color: #999999;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400; }

#map {
  width: 100%;
  height: 555px;
  transform: rotate(90deg);
  margin-top: 15px; }

@media screen and (max-width: 1199px) {
  #map {
    width: 100%;
    height: 555px;
    transform: rotate(0deg);
    margin-top: 15px; } }
@media screen and (max-width: 420px) {
  .input-form {
    display: none; }

  .contact-send {
    display: none; } }

/*# sourceMappingURL=bootst.css.map */
